*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0d0d0d;
color:white;
}

header{
text-align:center;
padding:30px;
background:#111;
border-bottom:3px solid gold;
}

.logo{
width:120px;
border-radius:50%;
margin-bottom:10px;
}

header h1{
color:gold;
font-size:40px;
}

header p{
color:#ddd;
margin-top:5px;
}

nav{
margin-top:20px;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
font-weight:bold;
}

nav a:hover{
color:gold;
}

.hero{
padding:80px 20px;
text-align:center;
background:linear-gradient(135deg,#000,#222);
}

.hero h2{
font-size:42px;
color:gold;
margin-bottom:15px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
}

.btn{
background:gold;
color:black;
padding:15px 35px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}

.btn:hover{
background:white;
}

section{
padding:60px 20px;
text-align:center;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
background:#1b1b1b;
padding:20px;
border-radius:15px;
width:250px;
box-shadow:0 0 10px rgba(255,215,0,.4);
}

.card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.card h3{
color:gold;
}

form{
max-width:500px;
margin:auto;
}

form input,
form select{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
}

form button{
width:100%;
padding:15px;
background:gold;
border:none;
border-radius:8px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

footer{
background:#111;
padding:20px;
text-align:center;
color:#bbb;
margin-top:30px;
border-top:2px solid gold;
}